<mat-sidenav-container class="sidenav-container">
  <div class="text-center">
    <img src="./assets/profile.jpeg" class="menu-profile" alt="profile">
    <p>Mr. John Doe</p>
  </div>
  <mat-list class="menu-list">
    <h3 mat-subheader class="subheader">Menu</h3>
    <mat-list-item class="menu-item" [ngClass]="{'menu-item-active': activeRoute === ''}" (click)="openPage('')">
      <mat-icon mat-list-icon svgIcon="home-outline"></mat-icon>
      <h4 mat-line>Home</h4>
    </mat-list-item>

    <mat-list-item class="menu-item" [ngClass]="{'menu-item-active': activeRoute === '/settings'}" (click)="openPage('/select-product')">
      <mat-icon mat-list-icon svgIcon="settings-outline"></mat-icon>
      <h4 mat-line>select product</h4>
    </mat-list-item>

    <mat-list-item class="menu-item" [ngClass]="{'menu-item-active': activeRoute === '/product'}" (click)="openPage('/product-detail')">
      <mat-icon mat-list-icon svgIcon="home-outline"></mat-icon>
      <h4 mat-line>product detail</h4>
    </mat-list-item>

  </mat-list>
</mat-sidenav-container>