<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p>
      <span class="mr-2 font-header">my</span>
      <span class="mr-2 font-header">Lips</span>
      <span class="mr-2 font-header">my</span>
      <span class="mr-2 font-header">Life</span>
    </p>
  </div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div style="display: inline" *ngFor="let item of  [0,1,2,3,4]">
      <img class="size-image margin-image border-image" src="https://img.wongnai.com/p/1920x0/2018/03/23/dd46cee3da9b49ffa1b3213adf3c9746.jpg"
        alt="">
    </div>
  </div>
  <div class="col-2"></div>
</div>
