.f-icon {
    width: 15px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.btn-center {
    text-align: center;
}

.bg-btn-facebook{
    background-color: #3b5998;
}

.font-btn{
    color: white;
}